{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>BAŞKANIMIZ</h1>


<img src="{% static 'images/volkan.jpeg' %}" width="500" height="500" alt='Kral VOLKAN'>
<br>
</h2>YÜCE KRAL VOLKAN KARAKULLUKÇU <h2>
    <br>
    <img src="{% static 'images/ismail.jpg' %}" width="500" height="500">
    <br>
    <h2>KURUCU ÜYE BAŞKAN YARDIMCISI</h2>
    <br>
    <p>İsmail Turan iletişim kanalları</p>

    <p style="font-size: 35;"><a href="https://www.instagram.com/_sdkfz251/"><i class="fa-brands fa-instagram"></i></a><a href="https://twitter.com/tura_ismail2016"><i class="fa-brands fa-twitter"></i></a></p>

    <h1>
        <br>
        <img src="{% static 'images/emre.jpeg' %}" width="500" height="500">
        <br>
        <h2>KURUCU ÜYE BAŞKAN YARDIMCISI</h2>
        <br>
        <br>
        <p>Emre Sağdıç iletişim kanalları</p>
        <p style="font-size: 35;"><a href="https://www.instagram.com/emreesagdc/"><i class="fa-brands fa-instagram"></i><a href="https://twitter.com/tura_ismail2016"><i class="fa-brands fa-twitter"></i></a></p>
        
        <br>



        {% endblock content %}